---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro'

interface MarkdownFrontmatter {
  date: number;
}

const title = 'MVPJET เว็บพนันออนไลน์เว็บตรงไม่ผ่านเอเย่นต์ โปรโมชั่นคุ้มค่ากว่าที่อื่น';
const description = 'สมัครตอนนี้รับทันที ฝาก100 รับ 150 หรือเอาแก้วเก็บความเย็นก็ได้';
const seoDescription = 'เล่นกับเว็บพนันออนไลน์ที่ดีสุด ราคาน้ำแรง รับทั้งวอเลทและธนาคารต้องมาจัดที่นี่เลย';
const allPosts = await Astro.glob<MarkdownFrontmatter>('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<html lang="TH">

<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SNXD71JZ8H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SNXD71JZ8H');
</script>
  <meta name="google-site-verification" content="lwx4-jlujtLMMOQwng34TBC4X7wjPRX5fZ3YGp_yO7U" />
  
  <BaseHead title={title} description={seoDescription} />
</head>

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">
    <article class="max-w-6xl mx-auto px-3">
      <HomeHeader title={title} description={description} />

<a href="https://nazavip.com/26174/t41626o2r59456244323y2m2l464p4" rel="nofollow"><img alt="สมัครเว็บตรง" src="https://xn--m3cisqgb6aza1f7e6cq.com/wp-content/uploads/2022/12/register-gmz.gif" /></a><br />
      <p><strong>สมัครบาคาร่า</strong>  คือ  สมัครเล่นเกมบาคาร่าเว็บตรงไม่ผ่านเอเย่นต์และเว็บนั้นต้องถ่ายทอดสดกับมีบริการที่หลากหลาย และให้บริการ สามารถเล่นผ่านทางเว็บไซต์ที่เปิดโดยผู้ซื้อลิขสิทธิ์ถูกกฏ 
        ข้อดีคือผู้เล่นมั่นใจได้ว่า 
         ผู้เล่นไม่ได้บริการฝากเปิดยูสกับเว็บเอเย่นต์ เล่นกับเจ้าของพร้อมรับโปรโมชั่นหน้าใหม่ได้ที่นี่แล้ว</p> <br />
         <font size= "8"><a href="https://nazavip.com/26174/t41626o2r59456244323y2m2l464p4"><span style="color:orange">สมัครเว็บตรงคลิกที่นี่</span></a>😍😍</font> <br />
       
         <font size= "8"><a href="https://nazavip.com/26174/t41626o2r59456244323y2m2l464p4"><span style="color:orange">สมัครผ่านระบบอัตโนมัติคลิกที่นี่</span></a>😍😍</font> <br />
         
         <font size= "8"><a href="https://nazavip.com/26174/t41626o2r59456244323y2m2l464p4"><span style="color:orange">สมัครรับโปรโมชั่นคลิกที่นี</span>่</a>😍😍</font> <br />
       
        
         <font size= "4"><a href="https://www.ourtask.org/posts/registerpg/"><span style="color:green">บาคาร่า</span></a>😍😍</font> <br />
       
         <font size= "4"><a href="https://mvpjet.netlify.app/"><span style="color:green">เว็บตรง</span></a>😍😍</font> <br />
         
         <font size= "4"><a href="https://mvpregisterpg.netlify.app/"><span style="color:green">สมัครสล็อต pg</span></a>😍😍</font> <br />
       


      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
        {sortedPosts.map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
    </article>
  </main>

  <section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
    <a href="/posts" class="mr-8" data-test="see-all-link">
      See All<span class="squiggle">&rarr;</span>
    </a>
  </section>

  <Footer />
</body>

</html>